<div class="container-fluid w-client-container" ng-init = "top = false;bottom = false">
	<!--搜索列表-->
	 <div class="w-myclient-numberlist">
	 	<ul class="list-group">
<!-- 	 		<li><img src="imgs/client_list/client-search.png" style="width: 50%;"></li> -->
	 		<li ng-click = "goto('A')">A</li>
	 		<li ng-click = "goto('B')">B</li>
	 		<li ng-click = "goto('C')">C</li>
	 		<li ng-click = "goto('D')">D</li>
	 		<li ng-click = "goto('E')">E</li>
	 		<li ng-click = "goto('F')">F</li>
	 		<li ng-click = "goto('G')">G</li>
	 		<li ng-click = "goto('H')">H</li>
	 		<li ng-click = "goto('I')">I</li>
	 		<li ng-click = "goto('J')">J</li>
	 		<li ng-click = "goto('K')">K</li>
	 		<li ng-click = "goto('L')">L</li>
	 		<li ng-click = "goto('M')">M</li>
	 		<li ng-click = "goto('N')">N</li>
	 		<li ng-click = "goto('O')">O</li>
	 		<li ng-click = "goto('P')">P</li>
	 		<li ng-click = "goto('Q')">Q</li>
	 		<li ng-click = "goto('R')">R</li>
	 		<li ng-click = "goto('S')">S</li>
	 		<li ng-click = "goto('T')">T</li>
	 		<li ng-click = "goto('U')">U</li>
	 		<li ng-click = "goto('V')">V</li>
	 		<li ng-click = "goto('W')">W</li>
	 		<li ng-click = "goto('X')">X</li>
	 		<li ng-click = "goto('Y')">Y</li>
	 		<li ng-click = "goto('Z')">Z</li>
	 		<!-- <li ng-click = "goto(a)">#</li> -->
	 	</ul>
	 </div>
	 <div class="row did-not-found" ng-show="clients.length<=0">
	 	<img src="imgs/404.png" alt="">
	 	<p style="color:#d1d1d1">暂无已添加客户</p>
	 </div>
	<!--遮罩层-->
	<div class="w-myclient-back" ng-show = "top||bottom" hm-tap="pullBack($event)"></div>
	<!--按钮-->
	<div type="button" class="w-myclient-back-butt" ng-show = "top" hm-tap="pushTop($event)">置顶</div>
	<div type="button" class="w-myclient-back-butt" ng-show = "bottom" hm-tap="pushBottom($event)">取消置顶</div>
	<!-- 导入通讯录按钮 -->
	<div class="row xj-dr-btn">
		<a class="col-xs-12" href="#/client_import">
		<img src="imgs/client_list/daoru.png"/>
    	<span>导入手机通讯录</span>
    	</a >
    </div>
	<!--置顶-->
	<div class="row">
		<ul class="list-group w-myclient-top">
			<a ng-click="goTo('/client_detail/'+client.id)" ng-repeat = "client in clients | filter:{'top':1} | orderBy:'-top_at'">
				<li class="w-myclient-top-message" hm-press="onHammer($event,client,'bottom')">
					<img src="imgs/client_list/header.png" alt="">
					<div>
						<span style="color:#383838" class="auto-hide-words">{{client.contact}}</span>
						<!-- <span class="w-myclient-top-message-color auto-hide-words"></span> -->
						<span class="w-myclient-top-message-color" style="float:right;text-align:right">{{client.phone_number | limitTo : 15}}{{client.phone_number.length > 15 ? '...' : ''}}</span>
						<span class="addr-span auto-hide-words">
							{{'地址：'+client.company_addr}}
						</span>
					</div>
				</li>
			</a>
	    </ul>
	</div>
    <!--搜索内容-->
	<div class="row ">
		<ul class="list-group w-myclient-cont">
		  <li class="w-myclient-cont-number" ng-repeat = "firstChar in firstCharList | orderBy:firstChar" id="{{firstChar}}">
		  	{{firstChar | uppercase}}
		  	<ul class="w-myclient-cont-number-ul">
		  		<a ng-click="goTo('/client_detail/'+client.id)" ng-repeat = "client in clients | filter:{'initial':firstChar,'top':0} | orderBy:'name'">
					<li class="w-myclient-cont-message" hm-press="onHammer($event,client,'top')">
						<img src="imgs/client_list/header.png" alt="">
						<div>
							<span style="color:#383838" class="auto-hide-words">{{client.contact}}</span>
							<!-- <span class="w-myclient-top-message-color auto-hide-words"></span> -->
							<span class="w-myclient-top-message-color" style="float:right;text-align:right">{{client.phone_number | limitTo : 15}}{{client.phone_number.length > 15 ? '...' : ''}}</span>
							<span class="addr-span auto-hide-words">
								{{'地址：'+client.company_addr||'地址：'}}
							</span>
						</div>
					</li>
		  		</a>
		  	</ul>
		  </li>
	    </ul>
	</div>
	
</div>