<div class="container-fluid hc-deplist-container">

	<div class="row did-not-found" ng-show="orders.length==0">
		<img src="imgs/404.png" alt="">
		<p>暂无成交记录</p>
	</div>

	<div class="row hc-deplist-box" ng-click = "openId2 = !openId2" ng-repeat="order in orders">
		<div class=" hc_titlebox col-xs-12">
			<span id="">
			</span>
			<h1>商品信息</h1>
		</div>
		<div class="col-xs-12 hc-deplist-box01 hc_border_bp">
			<div class=" col-xs-3 hc-headbox">
				<img ng-src="{{order.production.thumbUrl}}" style="min-width:70px;min-height:70px;" />
			</div>
			<div class=" col-xs-9 hc-deptext">
				<h1>{{order.production.name}}</h1>
				<p>￥<span id="">
					{{order.subtotal}}
				</span></p>
				<strong>{{order.production.description}}</strong>
			</div>
			<div class="hc-statebox">
				<ul>
					<li class="hc-state hc_on">
						<div class="hc-state01">
						</div>
						<span>
						</span> 订单
					</li>
					<li class="hc-state hc_on">
						<div class="hc-state01">
						</div>
						<span>
						</span> 审核
					</li>
					<li class="hc-state hc_on">
						<div class="hc-state01">
						</div>
						<span>
						</span> 审核通过
					</li>
					<li class="hc-state hc_on">
						<div class="hc-state01">
						</div>
						<span>
						</span> 支付
					</li>
					<li class="hc-state hc_on">
						<div class="hc-state01">
						</div>
						<span style="display: none;">
						</span> 完成
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 hc_keywordbox animate" ng-show = "openId2">
			<div class="hc_keyword" ng-repeat="field in order.fields | filter:{'section':'extra'}">
				<h1>{{field.label}}</h1>
				<span class="">
					{{field.value}}
				</span>
			</div>
		</div>
	</div>

</div>