<div class="hxj-container container-fluid">
	<div class="row">
		<ul>
			<li ng-repeat="char in firstCharList">
				<div class="xj-letter">{{char}}</div>
				<ul>
					<li style="height: 50px;" ng-repeat="contact in contactList | filter:{'initial':char}">
						<div class="xj-detail">
							<div class="pull-left">
								<p class="xj-client-p1">{{contact.name}}</p>
								<p class="xj-client-p1" style="color: #868686;">{{contact.number}}</p>
							</div>
							<div class="pull-right">
								<p class="xj-client-p2" ng-show="contact.added">已添加</p>
								<a ng-href="{{'#/client_add/'+contact.name+'/'+contact.number}}">
									<div class="xj-client-btn" ng-show="!contact.added">添加</div>
								</a>
							</div>
						</div>
					</li>
				</ul>
	    	</li>
	   </ul>
	   <div>
	   		<h1 style="text-align:center;margin-top:40%" ng-show="!(contactList.length>0)">手机中没有联系人或未开启权限</h1>
	   </div>
	</div>
</div>
