<div class = "container-fluid lk-home-container">
	<div class = 'row'>
		<div style="height:167px;">
			<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
				<uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
					<a ng-href="{{slide.url}}">
						<img ng-src="{{slide.image}}" style="margin:auto;height:167px" >
					</a>
				</uib-slide>
			</uib-carousel>
		</div>
		<a href="#product/21">
			<div class="col-xs-3 home-services">
				<img src="imgs/home/114.png" alt="">
				<p>114商机通</p>
			</div>
		</a>
		<a href="#product/27">
			<div class="col-xs-3 home-services">
				<img src="imgs/home/huicong.png" alt="">
				<p>慧聪网</p>
			</div>
		</a>
		<a href="#product/3">
			<div class="col-xs-3 home-services">
				<img src="imgs/home/lift_adv.png" alt="">
				<p>官网建设</p>
			</div>
		</a>
		<a href="#product/9">
			<div class="col-xs-3 home-services">
				<img src="imgs/home/search.png" alt="">
				<p>APP开发</p>
			</div>
		</a>
		<a href="#home/discount">
			<div class="discount-container">
				<div class = "col-xs-4">
					<img src="imgs/home/discount.jpg" alt="">
				</div>
				<div class="col-xs-8">
					<span class="start-time">距离开始</span>
					<span class = "time-container">00</span>
					<span class="colom">:</span>
					<span class = "time-container">07</span>
					<span class="colom">:</span>
					<span class = "time-container">13</span>
					<span class = "more">更多>></span>
				</div>
			</div>
		</a>

		<div class="task-container col-xs-12">
			<a href="#product/5">
				<div class="col-xs-6" style = "border-right:1px solid #f5f5f5;border-bottom:1px solid #f5f5f5;background-image:url('imgs/home/background_1.png');padding-left:0;background-position: right 8px center;">
					<p class="title">视觉设计</p>
					<p class="words">非凡视觉，眼球经济</p>
					<span class="test-button">
					</span>
				</div>
			</a>
			<a href="#product/4">
				<div class="col-xs-6" style = "border-bottom:1px solid #f5f5f5;background-image:url('imgs/home/background_2.png');">
					<p class="title">电商交易平台</p>
					<p class="words">模块开发，自由定制</p>
					<span class="test-button">
					</span>
				</div>
			</a>
			<a href="#product/22">
				<div class="col-xs-6" style = "border-right:1px solid #f5f5f5;background-image:url('imgs/home/background_3.png');padding-left:0;background-position: right 8px center;">
					<p class="title">微信营销</p>
					<p class="words">丰富应用，个性营销</p>
					<span class="test-button">
					</span>
				</div>
			</a>
			<a href="#product/28">
				<div class="col-xs-6" style = "background-image:url('imgs/home/background_4.png');">
					<p class="title">大数据营销诊断</p>
					<p class="words">因为需求，所以精准</p>
					<span class="test-button">
					</span>
				</div>
			</a>
		</div>
<!-- 		<div class="col-xs-12">
			<div class="col-xs-12 event-container" style="background-image:url('imgs/home/background_5.png')">
				<div class = "black-cover"></div>
				<p>2016年壳牌工业润滑油技术峰会</p>
				<a href="#">慧聪网-创新 共驭挑战</a>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-12 event-container" style="background-image:url('imgs/home/background_5.png')">
				<div class = "black-cover"></div>
				<p>2016年壳牌工业润滑油技术峰会</p>
				<a href="#">慧聪网-创新 共驭挑战</a>
			</div>
		</div> -->
	</div>

	<a href="#/product/{{data.id}}" ng-repeat="data in dataList">
		<div class="row hxj_searchlist">
			<div class="col-xs-4 xj_search_left">
				<div class="xj_search_img" style="background-image:url({{data.thumbUrl}})">
					<div class="xj_btn">{{data.tag[0]}}</div>
				</div>
			</div>
			<div class="col-xs-8 hxj_search_right">
				<p class="hxj_search_p1">{{data.name}}</p>
				<p class="hxj_search_p2">{{data.description}}</p>

				<div class="pull-right" style="color: #7C7C7C;">
				  <img src="imgs/search_list/huo.png" width="12px" style="position: relative;top: -3px;"/>10000
				</div>
			</div>
		</div>
	</a>
</div>