<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *;script-src 'self' 'unsafe-inline' 'unsafe-eval' http://localhost/ blob:; connect-src *;img-src blob: * data: ">

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <title>互动圈</title>
</head>
<body ng-class="hideBodyOverflow" ng-controller="BodyControl" >
    <div class="app" >
        <div id="deviceready">
            <div class="loading-div">
                <img src="imgs/loading/logo.png" alt="" style="position: absolute;top: 10%;left: 40%;width: 20%;">
                <img src="imgs/loading/body.png" alt="" style="width: 100%;position: absolute;left: -2px;top: 24%;">
                <img src="imgs/loading/bottom.png" alt="" style="width:100%;position:absolute;bottom:0;left:0;">
                <p style="position:absolute;bottom:40px;left:0;width:100%;">咨询 &nbsp; | &nbsp;开发&nbsp; | &nbsp;运营&nbsp; |&nbsp; 营销 &nbsp;| &nbsp;舆情</p>
            </div>
            <div class="main-div" ng-class="{true: '', false: 'disable-overflow'}[hideBlackCover]" ng-init="showTM = false;showBM = false">
                <div class="spinner animate" ng-show = "loadingData">
                    <img src="imgs/spinner/1.png" alt="">
                    <p>玩命加载中...</p>
                    <div class="span-div">
                        <!-- <p>加载页</p> -->
<!--                         <span class="span-1"></span>
                        <span class="span-2"></span>
                        <span class="span-3"></span> -->
                    </div>
                </div>

                <header ng-show="showTM">
                    <div class = "top-menu">
                        <div class = 'col-xs-2 top-menu-left-img' ng-show="topMenuContent.type == 3" ng-click="goBackClicked()">
                            <img src="imgs/menu/back_icon.png" alt="">
                        </div>
                        <div class = "col-xs-8" ng-show="topMenuContent.type == 3">
                            <p>{{topMenuContent.word}}</p>
                        </div>

                        <div class = 'col-xs-2 top-menu-left-img' ng-show="topMenuContent.type == 1">
                            <img src="imgs/menu/t_menu_select.png" alt="" ng-click="toggleSort()">
                        </div>
                        <div class="col-xs-8 top-menu-search" ng-show="topMenuContent.type == 1" style="padding:0">
                            <a href="#search">
                                <input type="text" placeholder="输入搜索关键词" ng-click="goToSearch()" ng-disabled="true">
                            </a>
                        </div>
                        <div class = 'col-xs-2 top-menu-right-img' ng-show="topMenuContent.type == 1">
                            <span>西安</span>
<!--                             <img ng-src="imgs/menu/t_menu_down.png" alt="" ng-click="toggleCity()"> -->
                        </div>
                        <div class="sort-container" ng-class="{true: 'sort-container-hide', false: 'sort-container-show'}[hideSort]">
                            <ul>
                                <li ng-repeat="menu in menus" ng-click="menu.children.length>0?'':goTo(menu.id)">
                                    {{menu.name}}
                                    <img src="imgs/menu/arrow_right.png" alt="" ng-show="menu.children.length>0">
                                    <ul ng-show="menu.children">
                                        <li ng-repeat="menuItem in menu.children" ng-click="goTo(menuItem.id)">
                                            {{menuItem.name}}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="location-container" ng-class="{true: 'location-container-hide', false: 'location-container-show'}[hideCity]">
                            <div class="col-xs-4">
                                <span>全国</span>
                            </div>
                            <div class="col-xs-4">
                                <span>全国</span>
                            </div>
                            <div class="col-xs-4">
                                <span>全国</span>
                            </div>
                            <div class="col-xs-4">
                                <span>全国</span>
                            </div>
                        </div>
                        <div class="" ng-class="{true: 'black-cover-hide', false: 'black-cover-show'}[hideBlackCover]" ng-click="closeCityOrSort()"></div>

                        <div class = 'col-xs-2 top-menu-left-img' ng-show="topMenuContent.type == 5" ng-click="goBackClicked()">
                            <img src="imgs/menu/back_icon.png" alt="">
                        </div>
                        <div class="col-xs-8 top-menu-search" ng-show="topMenuContent.type == 5" style="padding:0">
                            <input type="text" placeholder="输入搜索关键词" ng-model = "searchInput" style="background-image:none;padding-left:10px;">
                        </div>
                        <div class = 'col-xs-2 top-menu-right-search-img' ng-show="topMenuContent.type == 5">
                            <a href="#search_list/{{searchInput}}">
                                <img src="imgs/menu/t_menu_find.png" alt="" ng-click="addSearchItem()">
                            </a>
                        </div>

                        <div class = 'col-xs-2 top-menu-left-img' ng-show="topMenuContent.type == 6" ng-click="goBackClicked()">
                            <img src="imgs/menu/back_icon.png" alt="">
                        </div>
                        <div class="col-xs-8 top-menu-search" ng-show="topMenuContent.type == 6" style="padding:0">
                            <a href="#search">
                                <input type="text" placeholder="输入搜索关键词" ng-click="goToSearch()">
                            </a>
                        </div>
                        
                        <div class = 'col-xs-2 top-menu-left-img' ng-show="topMenuContent.type == 7" ng-click="goBackClicked()">
                            <img src="imgs/menu/back_icon.png" alt="">
                        </div>
                        <div class = "col-xs-8" ng-show="topMenuContent.type == 7">
                            <p>{{topMenuContent.word}}</p>
                        </div>
                        <div class="col-xs-2 top-menu-complete-btn" ng-show="topMenuContent.type == 7">
                            <a href="" ng-click="pushBookingForm()">完成</a>
                        </div>

                        <div class = 'col-xs-2 top-menu-left-img' ng-show="topMenuContent.type == 8" ng-click="goBackClicked()">
                            <img src="imgs/menu/back_icon.png" alt="">
                        </div>
                        <div class = "col-xs-8" ng-show="topMenuContent.type == 8">
                            <p>{{topMenuContent.word}}</p>
                        </div>
                        <div class="col-xs-2 top-menu-add-user-btn" ng-show="topMenuContent.type == 8">
                            <a href="#/client_add">
                                <img src="imgs/menu/add.png" alt="">
                            </a>
                        </div>

                        <div class = 'col-xs-2 top-menu-left-img' ng-show="topMenuContent.type == 9" ng-click="goBackClicked()">
                            <img src="imgs/menu/back_icon.png" alt="">
                        </div>
                        <div class = "col-xs-8" ng-show="topMenuContent.type == 9">
                            <p>{{topMenuContent.word}}</p>
                        </div>
                        <div class="col-xs-2 top-menu-complete-btn" ng-show="topMenuContent.type == 9">
                            <a href="" ng-click="pushClientInformation()">完成</a>
                        </div>

                        <div class = 'col-xs-2 top-menu-left-img' ng-show="topMenuContent.type == 11" ng-click="goBackClicked()">
                            <img src="imgs/menu/back_icon.png" alt="">
                        </div>
                        <div class = "col-xs-8" ng-show="topMenuContent.type == 11">
                            <p>{{topMenuContent.word}}</p>
                        </div>
                        <div class="col-xs-2 top-menu-complete-btn" ng-show="topMenuContent.type == 11">
                            <a href="" ng-click="pushPersonalInformation()">完成</a>
                        </div>

                        <div class = 'col-xs-2 top-menu-left-img' ng-show="topMenuContent.type == 10" ng-click="goBackClicked()">
                            <img src="imgs/menu/back_icon.png" alt="">
                        </div>
                        <div class = "col-xs-8" ng-show="topMenuContent.type == 10">
                            <p>{{topMenuContent.word}}</p>
                        </div>
                        <div class="col-xs-2 top-menu-complete-btn" ng-show="topMenuContent.type == 10">
                            <a href="" ng-click="pushClientInformationEdit()">完成</a>
                        </div>

                        <div class="col-xs-12" ng-show="topMenuContent.type == 2">
                            <span class = "col-xs-4 switch-span-container">
                                <span class = "animate" ng-class="{1: 'switch-span-background-1 ', 2: 'switch-span-background-2'}[topMenuContent.buttonType]"></span>
                                <span class="col-xs-6 switch-span-left"><a href="#community">社区</a></span>
                                <span class="col-xs-6 switch-span-right"><a href="#teach">教学</a></span>
                            </span>
                        </div>

                        <div class = "col-xs-8 col-xs-offset-2" ng-show="topMenuContent.type == 4">
                            <p>{{topMenuContent.word}}</p>
                        </div>
                    </div>
                </header>

                <div ng-view ng-show = '!loadingData'></div>

                <footer ng-show="showBM">
                    <div class = "bottom-menu">
                        <div class="col-xs-4">
                            <a href="#/home">
                                <img ng-src="{{activeBottomMenuImage == 'home'?'imgs/menu/b_menu_home_active.png':'imgs/menu/b_menu_home.png'}}" alt="">
                            </a>
                            <p>首页</p>
                        </div>
                        <div class="col-xs-4">
                            <a href="#/community">
                                <img ng-src="{{activeBottomMenuImage == 'community'?'imgs/menu/b_menu_community_active.png':'imgs/menu/b_menu_community.png'}}" alt="">
                            </a>
                            <p>社区</p>
                        </div>
<!--                         <div class="col-xs-3">
                            <a href="#/example">
                                <img ng-src="{{activeBottomMenuImage == 'example'?'imgs/menu/b_menu_example_active.png':'imgs/menu/b_menu_example.png'}}" alt="">
                            </a>
                            <p>案例</p>
                        </div> -->
                        <div class="col-xs-4">
                            <a href="#/us">
                                <img ng-src="{{activeBottomMenuImage == 'us'?'imgs/menu/b_menu_us_active.png':'imgs/menu/b_menu_us.png'}}" alt="">
                            </a>
                            <p>我的</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <!-- <script type="text/javascript" src="cordova.js"></script> -->
    <script type="text/javascript" src="js/hammer.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular.hammer.js"></script>
    <script type="text/javascript" src="js/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/angular-touch.min.js"></script>
    <script type="text/javascript" src="js/angular-route.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-1.3.3.min.js"></script>
    <script type="text/javascript" src="js/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="js/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <script type="text/javascript" src="js/localStorage.service.js"></script>
    <script type="text/javascript" src="js/API.service.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>
</html>
