<div class="container-fluid w-client-container" ontouchstart="" onmouseover="" style="padding-left: 0;padding-right: 0;
">
<!-- 	<div class="row hc-search">
		<input type="text" placeholder="输入搜索关键词" ng-model="searchInput" class="ng-pristine ng-untouched ng-valid ng-empty">
	</div> -->
	<div class="row did-not-found" ng-show="clients.length<=0">
		<img src="imgs/404.png" alt="">
		<p style="color:#d1d1d1">暂无已添加客户</p>
	</div>
	<ul class="list-group w-myclient-cont">
		<li class="w-myclient-cont-number" ng-repeat = "firstChar in firstCharList | orderBy:firstChar" id="{{firstChar}}">
			{{firstChar | uppercase}}
			<ul class="w-myclient-cont-number-ul">
				<a ng-click="getUserInfo(client.id)" ng-repeat = "client in clients | filter:{'initial':firstChar} | orderBy:'name'">
					<li class="w-myclient-cont-message" style="height:50px">
						<span style="color:#383838" class="w-myclient-top-message-text">{{client.contact}}</span>
						<span class="w-myclient-top-message-color w-myclient-top-message-padding">{{client.phone_number}}</span>
						<!-- <span class="w-myclient-top-message-color">{{client.position}}</span> -->
					</li>
				</a>
			</ul>
		</li>
	</ul>

</div>